body{
    font-family: 'Times New Roman';
    padding: 20px;
    background: rgb(36, 23, 23);
    text-align: center;
}
h2{
    margin-bottom: 30px;
    color: white;
    
}
.fix-max{
    margin: 20px auto;
    padding: 20px;
    color: white;
    text-align: left;
   
}
.fix-width{
    width: 600px;
    background-color: rgb(197, 182, 182);
    color: rgb(61, 53, 53);
     border-radius: 20px;
    
}
.max-width{
    max-width: 600px;
    background-color: rgb(156, 155, 54);
    color: rgb(34, 13, 13);
     border-radius: 20px;
}