body {
    background-color: rgb(255, 191, 246);
}

header {
    justify-content: space-between;
    display: ruby-text;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: black;
    color: white;
}

nav a {
    margin: 20px;
    margin-right: auto;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;

}

main {
    padding: 20px;
}

footer {
    background-color: black;
}

section {
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
    border-radius: 25px;
}

article {
    color: none;
}

h2 {
    background-color: rgb(0, 0, 0);
    padding: 15px;
    /* border-radius: 50px; */
    border-bottom-right-radius: 100px;
    box-sizing: content-box;
    width: 180px;
    color: white;
}


aside {
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
    border-radius: 25px;
}

aside h3 {
    background-color: rgb(0, 0, 0);
    padding: 15px;
    /* border-radius: 50px; */
    border-bottom-right-radius: 100px;
    box-sizing: content-box;
    width: 180px;
    color: white;
}

footer {
    color: white;
    text-align: center;
    padding: 0.5px;
}